# dataset where the base ontology lives
DW_SUBSET_ONTOLOGY_DATASET=ownerid/dataset

# dataset and file containing the "seeds"
DW_SUBSET_SEEDS_DATASET=ownerid/dataset
DW_SUBSET_SEEDS_FILE=filename

# dataset, file, format, and base URI for generated subset
DW_SUBSET_SUBSET_DATASET=ownerid/dataset
DW_SUBSET_SUBSET_FILE=filename
DW_SUBSET_SUBSET_FORMAT=turtle
DW_SUBSET_SUBSET_BASE_URI=http://foo.bar#
